section.home-tags
  .w3-container.w3-padding
    h4 Tags
  .w3-container.w3-white
    p
      span Travel 
      span New York 
      span London 
      span IKEA 
      span NORWAY 
      span DIY 
      span Ideas 
      span Baby 
      span Family 
      span News 
      span Clothing 
      span Shopping 
      span Sports 
      span Games
