section.home-popular-posts
  .w3-container.w3-padding
    h4 Popular Posts
  ul.w3-ul.w3-hoverable.w3-white
    li.w3-padding-hor-16
        p Lorem
        p Sed mattis nunc
    li.w3-padding-hor-16
      img(src="assets/img/img_gondol.jpg")
      p Ipsum
      p Praes tinci sed
    li.w3-padding-hor-16
      img(src="assets/img/img_skies.jpg")
      p Dorum
      p Ultricies
    li.w3-padding-hor-16
      img(src="assets/img/img_rock.jpg")
      p Mingsum
      p Lorem ipsum dipsum
      
