section.home-about
  img(src="assets/img/woman.jpg")
  .home-about-content
    h4 My Name
    p Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. 
   
